input[type=text] {
    background: #00375f;
    color: #78abe2;
    border: solid 1px #006bba;
    border-radius: 5px;
    padding: 5px;
}

input[type=text]:focus {
    background: #004477;
    box-shadow: #003761 0 3px 10px 5px;
    outline: none;
}

input::placeholder {
    color: rgba(119, 170, 210, 0.61);
}
