body {
    background: #001a34;
    color: #eee;
    overflow: hidden;
    font-family: "Source Sans Pro", sans-serif;
}

header {
    margin-left: 100px;
}

header h1 {
    font-size: 20px;
    text-transform: uppercase;
}

ul,
li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #eee;
}

a.back {
    margin-left: 30px;
}

h2 {
    margin: 50px 0 30px;
}

main {
    margin-top: 50px;
    margin-left: 100px;
    min-height: 70vh;
}

.arrow-left.icon {
    color: #eee;
    position: absolute;
    margin-left: 3px;
    margin-top: 10px;
    width: 16px;
    height: 1px;
    background-color: currentColor;
}

.arrow-left.icon:before {
    content: "";
    position: absolute;
    left: 1px;
    top: -5px;
    width: 10px;
    height: 10px;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.popup {
    display: none;
    opacity: 0;
    position: absolute;
    top: 40px;
    left: 100px;
    background: rgba(100, 100, 100, 0.5);
    padding: 10px;
    border-radius: 5px;
    transition: opacity 1s ease-out;
}

.popup.visible {
    display: block;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.social-links {
    max-width: 250px;
    display: flex;
    justify-content: flex-start;
    border-radius: 10px;
    padding: 20px 10px;
    align-items: center;
}

.social-links a {
    display: flex;
    align-items: center;
}

.social-links img {
    background: #ccc;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {
    main {
        width: 95%;
        margin: 50px auto;
    }

    .social-links {
        width: 89%;
    }
}

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex-item {
    flex: 1;
}

.divider {
    margin: 50px 0 30px;
    border-bottom: dashed 1px #39476b;
    width: 80%;
}

ul.home-page-links li {
    font-size: 20px;
    margin: 40px 0;
    position: relative;
    padding-left: 10px;
    margin: 60px 0;
    transition: .2s ease-out;
}

ul.home-page-links li:hover {
    transform: scale(1.01);
}

ul.home-page-links a {
    padding: 20px 20px;
    background: #006bba;
    clip-path: polygon(20px 0, 100% 0, 100% 100%, 0 100%);
    transition: background ease-out .5s;
}

ul.home-page-links a:hover {
    background: #007fdc;
}

footer{
    margin-top: 20px;
    padding: 20px;
    background: #001322;
    min-height: 30vh;
}
