.glitch-container {
  position: absolute;
  top: 200px;
  left: 100px;
}

.glitch {
  font-size: 80px;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  animation: glitch .05s linear infinite;
}

.glitch-shift-1 {
  font-size: 80px;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  animation: glitch-shift-1 .1s linear infinite;
}

.glitch-shift-2 {
    font-size: 80px;
    font-weight: 800;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 30%, 100% 30%, 100% 50%, 0 50%);    
    animation: glitch-shift-2 .1s ease-in-out infinite;
  }

@keyframes glitch {
  from {
    left: 3px;
  }
  to {
    left: 0px;
  }
}

@keyframes glitch-shift-1  {
    from {
      left: 0;
    }
    to {
      left: 3px;
    }
  }

  @keyframes glitch-shift-2  {
    from {
      top: 0;
      opacity: 1;
    }
    to {
      top: -5px;
      opacity: 0;
    }
  }
  