@font-face {
    font-family: Road_Rage;
    src: url("../../fonts/Road_Rage.otf") format("opentype");
}

.react-logo-container {
    width: 600px;
    height: 600px;
    margin: 50px 0;
    position: absolute;
    top: 50px;
    pointer-events: none;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: deepskyblue;
    position: absolute;
    top: 275px;
    left: 275px;
    transition: all 2s ease-out;
    pointer-events: none;
}

.circle.square {
    border-radius: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    transition: all .3s ease-out;
}

.circle.triangle {
    border-radius: 0;
    transform: rotate(45deg) scale(1.5) translate(7px, 7px);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    transition: all .3s ease-out;
}

.circle.star {
    border-radius: 0;
    transform: scale(1.5);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: all .3s ease-out;
}

.circle.x {
    border-radius: 0;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    transition: all .3s ease-out;
}

.oval {
    width: 200px;
    height: 200px;
    border-radius: 400px;
    border: solid 10px deepskyblue;
    background: transparent;
    position: absolute;
    top: 190px;
    left: 190px;
}

.oval-1 {
    animation: linear 10s infinite oval-1;
}

.oval-2 {
    animation: linear 10s infinite oval-2;
}

.oval-3 {
    animation: linear 10s infinite oval-3;
}

.title {
    font-size: 60px;
    font-family: 'Road_Rage';
    color: deepskyblue;
    position: absolute;
    top: 500px;
    left: 210px;
}

@keyframes oval-1 {
    from {
        transform: rotate(-30deg) skew(45deg);
    }
    25% {
        transform: rotate(15deg) skew(45deg);
    }

    50% {
        transform: rotate(60deg) skew(45deg);
    }

    75% {
        transform: rotate(105deg) skew(45deg);
    }

    to {
        transform: rotate(150deg) skew(45deg);
    }
}


@keyframes oval-2 {
    from {
        transform: rotate(30deg) skew(45deg);
    }
    25% {
        transform: rotate(75deg) skew(45deg);
    }

    50% {
        transform: rotate(120deg) skew(45deg);
    }

    75% {
        transform: rotate(165deg) skew(45deg);
    }

    to {
        transform: rotate(210deg) skew(45deg);
    }
}

@keyframes oval-3 {
    from {
        transform: rotate(90deg) skew(45deg);
    }
    25% {
        transform: rotate(135deg) skew(45deg);
    }

    50% {
        transform: rotate(180deg) skew(45deg);
    }

    75% {
        transform: rotate(225deg) skew(45deg);
    }

    to {
        transform: rotate(270deg) skew(45deg);
    }
}
